# IntelliJ IDEA
.idea/
*.iml

# Build output
target/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db


.env.*
!.env.example


.vscode/

# Local Docker environment secrets
.env.docker

# Local database backups
/backups/